.scratch {
  padding: 2rem;
  background: url("../scratch/pokemon-grass-background.png") repeat;
}

.game {
  background: url("../scratch/pokemon-grass-background.png") repeat;
  color: black;
  display: flex;
  flex-direction: column;
}
